<!doctype html>
<html>
    <head>
        <title>document</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css" href="">
        <script type="text/javascript" src=""></script>
        <style type="text/css">

        </style>
    </head>
    <body>
        <h3>添加car</h3>
        <form action="/users/addcar" method="post" accept-charset="utf-8">
            汽车型号：
            <input type="text" name="carname"><br>
            价格：
            <input type="number" name="carprice" value=""><br>
            简介：
            <input type="text" name="single" value=""><br>
            描述：
            <textarea name="cardis"></textarea><br>
            <input type="submit" name="" value="Addcar">
        </form>
        <br>
        <a href="/">首页</a>
        <a href="/users/carlist">列表页</a>
        <a href="javascript:window.history.back();">返回上一页</a>
        <% if (success) { %>
        <span><%= success %></span>
        <% } %>
        <% if (error) { %>
        <span><%= error %></span>
        <% } %>
    </body>
</html>
<script type="text/javascript" src="">

</script>